<!-- Modal iniciar sesión-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">

      <div class="modal-content" id="contenido">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="modal-body">
               <div class="mb-3 row">
                  <label for="nombreUsuario" class="form-label">Usuario</label>
                  <input type="email" class="form-control form-control-lg" id="nombreUsuario" name="nombreUsuario" aria-describedby="emailHelp" [(ngModel)]="nombreUsuario" required/>
               </div>
               <div class="mb-3 row">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" class="form-control form-control-lg" id="password" [(ngModel)]="password" required>
               </div>
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
         </form>
      </div>
   </div>
</div>